.container{width:960px;

margin:0 auto

}  
header{background-image:url(img/ใหม่.png);
		height:80px;
    width:98% ;
    float:left;
}
nav{width:30%;
	background-color:lightpink;
	height:700px;
	float:left;
	}
article{background-color:lightblue;
		height:700px;
		width:68%;
		float:left;}
		
footer{
	clear:both;
	background-color:lime;
	padding:20px;
	width:93.8%;
	text-align:center;
	}
	
ul{
	margin:0;}

a:link {color:black;
	background-color:Plum;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	padding:45.5px 20px;
	width:150px;
}

a:hover{color:red; background-color:Orchid;}
a:active{color:blue;}
a:visited{color:magenta;}